<form class='form-horizontal' name='article' ng-show='editFormState' ng-submit='editArticle(currentArticle)'>
    <div class='form-group'>
        <label for='title'>Title:</label>
        <input class='form-control' type='text' name='title' ng-model='currentArticle.title' required>
    </div>
    <div class='form-group'>
        <label for='content'>Content:</label>
        <textarea class='form-control' name='content' ng-model='currentArticle.content' required></textarea>
    </div>
    <div class='form-group'>
        <label for='category_id'>Category:</label>
        <select class="form-control" name='category_id' ng-model='currentArticle.category_id' required>
            <option ng-repeat="category in categories" value="{{category.id}}">{{category.category_name}}</option>
        </select>
    </div>
    <div class='form-group'>
        <button class='btn btn-primary' ng-disabled='article.$invalid'>Update</button>
    </div>
</form>